.container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
    cursor: pointer;
}

.imgContainer {
    height: 300px;
    width: 280px;
    position: relative;
}

.imgContainer:hover .url2 {
    opacity: 1;
}

.url1,
.url2 {
    transition: all 0.3s ease-in-out;
}

.imgContainer:hover .url1 {
    opacity: 1;
}

.url2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.imgContainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.descContainer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    position: absolute;
    right: 5%;
    top: 3%;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background: transparent;


}

.icon {
    width: 40px;
    color: rgba(255, 0, 0, 0.673);
}

.details {
    font-size: 20px;
    background-color: rgb(58, 140, 68);
    width: fit-content;
    padding: 5px;
    cursor: pointer;
    color: white;
    border: none;

}