.container {
    position: fixed;
    z-index: 1;
    background-color: #117a7a;
    padding: 8px;
    color: white;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    bottom: 10px; /* More intuitive for responsive design */
    right: 10px;  /* More intuitive for responsive design */
    font-size: 18px; /* Adjust based on content or design */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        height: 35px;
        width: 35px;
        font-size: 16px;
        bottom: 5px; /* Adjust position for smaller screens */
        right: 5px;  /* Adjust position for smaller screens */
    }
}

@media (max-width: 480px) {
    .container {
        height: 30px;
        width: 30px;
        font-size: 14px;
        bottom: 5px; /* Adjust position for very small screens */
        right: 5px;  /* Adjust position for very small screens */
    }
}
